<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
<% if @user.ratings.empty? %>
 No ratings made.
<% else %>
 Has made <%= @user.ratings.count %> <%= pluralize_without_count(@user.ratings.count, 'rating')%>, average <%= @user.average_rating %>
<% end %>
</p>
<strong>Ratings:</strong>	
	<%@user.ratings.each do |rating|%>
<li> <%= rating.to_s %> 
		<%if @user == current_user %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%> 
		<%end%></li>
	<%end%>

<p>
	<%if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', users_path %>
</p>
